<!DOCTYPE html>
<html lang="en">
<head>
<title>Chat Example</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        var conn;
        var $msg = $("#msg");
        var $log = $("#log");
        var $alias = $("#alias");
        var header = { id: "", alias: "" };

        const MessageType_Broadcast = "message";
        const MessageType_RegisterSubscriber = "register subscriber";
        const MessageType_GetAllSubscribers  = "get all subscriber";
        const MessageType_Notify = "notify";

        function end() {
            alert("Invalid name");
            $("body").empty();
        }

        function appendLog(msg) {
            var d = $log[0]
            var doScroll = d.scrollTop == d.scrollHeight - d.clientHeight;
            msg.appendTo($log)
            if (doScroll) {
                d.scrollTop = d.scrollHeight - d.clientHeight;
            }
        }

        function createRequest(sender, receivers, type, message) {
            // payload structure is 100% match with *Request struct
            return {
                Sender: sender,
                Receivers: receivers,
                Type: type,
                Message: message,
            };
        }

        // prepare the registration
        function register() {
            var who = prompt("Type your name here");
            if (who == null || typeof who === "undefined") {
                who = "";
            }

            if (who == "") {
                end();
            }

            header.alias = who;
            $alias.val(who);

            // the id of the connection is received when new socket is opened, but
            // the back end still doesn't know username filled by user
            // so we register it
            var request = createRequest(header.id, [], MessageType_RegisterSubscriber, header.alias);
            conn.send(JSON.stringify(request));
            console.log("sent", request);
        }

        $("#form").submit(function(e) {
            e.preventDefault();

            if (!conn) {
                return false;
            }
            if (!$msg.val()) {
                return false;
            }

            // why the subscribers is an array, even the dropdown only accept one data?
            // coz the back end support multiple receivers. for now, just assume it's only one receiver
            var subscribers = $("#subscribers").get().map(function (d) { return $(d).val(); });
            var request = createRequest(header.id, subscribers, MessageType_Broadcast, $msg.val());
            conn.send(JSON.stringify(request));
            console.log("sent", request);

            $msg.val("");

            return false
        });

        if (window["WebSocket"]) {
            conn = new WebSocket("ws://{{$}}/ws");
            conn.onclose = function(evt) {
                appendLog($("<div><b>Connection closed.</b></div>"))
            }
            conn.onmessage = function (evt) {
                var response = JSON.parse(evt.data);
                console.log("receive", response); 

                if (response.Type == MessageType_RegisterSubscriber) {
                    header.id = response.Sender.Id;
                    register();
                } else if (response.Type == MessageType_GetAllSubscribers) {
                    var $dropdown = $("#subscribers");
                    var previousValue = $dropdown.val();

                    $dropdown.empty();
                    $("<option />").val("").html("Select one").appendTo($dropdown);
                    response.Message.forEach(function (d) {
                        if (d.Id == header.Id) {
                            return;
                        }

                        $("<option />").val(d.Id).html(d.Alias).appendTo($dropdown);
                    });

                    $dropdown.val(previousValue);
                } else if ([MessageType_Broadcast, MessageType_Notify].indexOf(response.Type) > -1) {
                    var message = "";

                    if (response.Type == MessageType_Broadcast) {
                        message = ["<span style='color: green'>", response.Message, " <i style='opacity: 0.6;'>[message from << ", response.Sender.Id, " ~ ", response.Sender.Alias, "]</i></span>"].join("");
                    } else {
                        message = ["<span style='color: red'>", response.Message, " <i style='opacity: 0.6;'>[message to >> ", response.Receiver.Id, " ~ ", response.Receiver.Alias, "]</i></span>"].join("");
                    }

                    appendLog($("<div/>").html(message));
                }
            }
        } else {
            end();
        }
    });
</script>
<style type="text/css">
html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: gray;
}

#log {
    background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 6em;
    overflow: auto;
}

#info {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 3em;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

#alias {
    background-color: #ccc;
    border: none;
    padding: 4px;
}

#form {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

</style>
</head>
<body>
<div id="log"></div>
<div id="info">
    <label>Alias: </label>
    <input id="alias" disabled readonly size="20" />
</div>
<form id="form">
    <input type="submit" value="Send Message" />
    <input required type="text" id="msg" size="64"/>
    <label>To:</label>
    <select required id="subscribers" value=""></select>
</form>
</body>
</html>
